.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.containter {
    margin: auto;
    width: 100%;
}

.left {
    float:left;
    width: 40%;
}

.right {
    float:right;
    width:40%;
}

.clear {
    clear: both;
}

.fin {
    text-align: center;
}

.finance {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 35px;
}

.block {
    float:left;
    width: 30%;
}

.center_items {
    margin: auto;
    width:fit-content;
    align-items: center;
}