.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.containter {
    margin: auto;
}

.center_items {
    margin: auto;
}

.left_item {
    left: 15px;
    width: 50%;
}

.right_item {
    right:15px;
    width: 50%;
}