.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.containter {
    left: 0;
    right: 0;
}

.center_items {
    margin: auto;
    width:fit-content;
    align-items: center;
}

.left {
    margin-top: 20px;
    float:left;
    width: 40%;
}

.right {
    margin-top: 20px;
    float:right;
    width:40%;
}

.clear {
    clear: both;
}

.fin {
    text-align: center;
}

.fin_sec {
    margin: auto;
    width: 800px;
    height:250px;
    padding: 10px;
    border-radius: 35px;
    background-color:mediumorchid;
}

.block {
    float: left;
    width:33%;
    padding: 15px;
    box-sizing: border-box;
}



.compare {
    margin-top: 20px;
    padding: 20px;
    background-color: orchid;
    width: 100%;
    height: 1450px;
}

.calc {
    margin: auto;
    margin-top: 20px;
    width: 700px;
    height: 350px;
    padding: 20px;
    border-radius: 35px;
    line-height: 15px;
    background-color: white;
}

.c1 {
    margin: auto;
    width: fit-content;
    border-radius: 25px;
    background-color: indigo;
    color: white;
}
.c2 {
    margin: auto;
    width: fit-content;
    border-radius: 25px;
    background-color:mediumorchid;
    color: white;
}
.c3 {
    margin: auto;
    width: 350px;
    border-radius: 25px;
    background-color:mediumpurple;
    color: white;
}
.c4 {
    width: 300px;
    border-radius: 25px;
    background-color:mediumseagreen;
    color: white;
}
.c5 {
    width: fit-content;
    border-radius: 250px;
    background-color: wheat;
    color: white;
}

.table {
    margin-top: 10px;
    width: fit-content;
    height:330px;
    background-color:white;
    border-radius: 35px;
}

.tbl {
    margin: auto;
    padding: 1px;
}

.save {
    background-color: white;
    width: 300px;
    padding: 10px;
    border-radius: 35px;
}

.security {
    height: 450px;

}

.start {
    margin-top: 50px;
    height: 500px;
    background-color:orchid;
    padding: 20px;
    line-height: 150%;
}

.form {
    margin: auto;
    width: fit-content;
    
}

.questions {
    margin: auto;
    background-color: lightgray;
    height: 550px;
}

.qbutton {
    width: 50%;
    float: left;
    margin: auto;
}

.qlink {
    width: 15%;
    float: left;
    margin: auto;
}

.qtext {
    margin: auto;
    text-align: center;
    width: 70%;
}