{% extends "base_generic.html" %}

{% block title %} The Wallet.{% endblock %}

{% block content %}

<body style="background-color: #FFFCF7;">
    <div class = "top">
        <div class = "title" >
            The Wallet.
        </div>
    </div>


    <!-- We will work on buttons later-->
    <div class = "buttons">
        <a class = "button-style" href="{% url 'state' %}">State Sponsered Savings</a>
        <a class = "button-style" href="{% url 'tax' %}">Tax Savings</a>
        <a class = "button-style" href="{% url 'investment' %}">Investment Plans</a>
        <a class = "button-style" href="{% url 'strats' %}">Financial Strategies</a>
        <a class = "button-style" href="{% url 'extra' %}">Extra</a>
    </div>

    <div class = "second-title">
        Recent Posts
    </div>

    <div class = "third-title">
        What is a Dividend Reinvestment Plan?
        
    </div>
   
    <div class = "ion-icon">
        <ion-icon name="cash-outline"></ion-icon>
    </div>

    <p class = "blog-content">
        A dividend Reinvestment Plan, otherwise known as DRIP, lets investors in the stock market reinvest their money from dividend payments, or regularly distributed payments from a company to its shareholders. These dividends are then reinvested, instead of paid out in cash, and are used to either purchase more shares or decrease the average cost-per-share of that asset.
    </p>

    <p class = "blog-content">
        Dividend rates vary per stock and not all companies offer dividends to their shareholders. Dividends are also not guaranteed by the company issuing them, as they are often distributed based on the company’s sales growth throughout the year. To utilize DRIP, you can activate it on your brokerage app or via your brokerage firm. The convenience of using a DRIP allows you to automatically reinvest into a stock that you are holding long-term.
    </p>

    <p class = "blog-content">
        Owning stocks that offer dividends can aid your investment efforts or even become additional sources of income. However, not everyone will want to utilize DRIP for their investment dividends. This is because if you’re seeking to maximize your yearly income and hold a large number of dividend-yielding stock shares, it would make more sense to receive dividend payments outright. Additionally if you are a day or swing trader, reinvesting dividends wouldn’t make sense as you may sell the stock shortly after reinvesting. 
    </p>

    <p class = "blog-content">
        Using DRIP doesn't guarantee a return on your investment because all investments carry risks. Dividend payments must be taxed but at a lower rate of qualified dividends. If you've held the asset for at least 60 days, you will pay that qualified lower amount. Some preferred stocks have a different set of tax rules behind them. 
    </p>

    <p class = "blog-content">
        Dividends are not the same as capital gains. If there are any questions on how you should report these earnings on your income tax, you should speak with a trusted financial advisor or tax professional. Before investing, you should always consider your risk to reward ratio, research their company and their dividend history, and never invest more than you are willing to lose.
    </p>

    <!-- Do not delete this, it is needed for the cash icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
    
{% endblock %}