
{% extends "base_generic.html" %}

{% block title %} The Wallet.{% endblock %}

{% block content %}
<!-- How do I create styles in the css and also implement them here ??? -->

<!-- This will change the color to the one on the blog site in bubble -->

<body style="background-color: #FFFCF7;">
    <div class = "top">
        <div class = "title" >
            The Wallet.
        </div>
    </div>

    <!-- We will work on buttons later-->

    <div class = "second-title">
        Recent Posts
    </div>

    <div class = "third-title">
        What is a Dividend Reinvestment Plan?
        
    </div>

    <div class = "image">
       <!-- <img src=”(your image URL here)”> -->
        
    </div>

    <p class = "blog-content">

    </p>

</body>
    
{% endblock %}









