{% extends "base_generic.html" %}

{% block title %} Help {% endblock %}

{% block content %}

    <div class = "top">
        <div class = "title" >
            Need Help?
        </div>
        <h4 class="faq_Info">Select a topic below to learn more!</h4>
    </div>



    <section class="faq">

    <div class="container">
        <a class="faq_collapse" id="collapseFAQ" href="#top" style="align-content: right">Collapse All</a>
        <div class ="accordion">

            <div class="topic">
                <h4>General Information</h4>
            </div>
            
            <div class="accordion-item" id="q1">
                <a class="accordion-link" href="#q1">
                    State Sponsored Saving Investments
                    <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                    <ion-icon class="up" name="chevron-up-outline"></ion-icon>
                </a>
                <div class="answer">
                    <p>
                        <b>What exactly is a 592 Savings Plan?</b><br>
                        A 529 Savings Plan is an educational investment plan that allows tax breaks for educational based expenses. Similar to a Roth IRA, but with education in mind, the plan is a tax advantaged savings account focused on encouraging and easing future educational plans.
                        <br>
                        <b>What are the benefits associated with a 529 account?</b>
                        <br>
                        As your savings compound over a period of time, withdrawls associated with qualified educational expenses will not be subjeted to tax. This differs from a typical savings account where withdrawls are deemeda s capital gains and are thus taxed.
                        <br>
                        <b>What can my savings be spent on?</b>
                        <br>
                        Savings from the 529 plan can only be spent on qualified education expenses. There is a 10% tax penalty on unqualified noneducational expenses.
                        <br>
                        <b>How do I withdraw money from my account?</b>
                        <br>
                        <b>How can the 529 pan impact a child's financial aid?</b>
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="q2">
                <a class="accordion-link" href="#q2">
                    Education and Finance
                    <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                    <ion-icon class="up" name="chevron-up-outline"></ion-icon>
                </a>
                <div class="answer">
                    <p>
                        <b>What if my child doesn't go to college?</b>
                        <br>
                        To avoid any taxes or penalties on withdrawls, your best option is to transfer the account to a new beneficiary who will use the money for educational expenses. Otherwise, the gains on any withdrawls from the account will be subjected to taxes and a 10% penalty.
                        <br>
                        <b>Can I use the funds to pay for k-12 school tuition?</b>
                        <br>
                        While education accounts were originally created for college expenses, it's also possible to use the money for K-12 tuition. Qualified educational expenses include books, room and board, computer equipment, and tuition. 
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="q3">
                <a class="accordion-link" href="#q3">
                    Investment Plans
                    <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                    <ion-icon class="up" name="chevron-up-outline"></ion-icon>
                </a>
                <div class="answer">
                    <p>
                        ...
                    </p>
                </div>
            </div>

            <div class="topic">
                <h4>All about 529s, funds, and purpose!</h4>
            </div>

            <div class="accordion-item" id="education">
                <a class="accordion-link" href="#education">
                    What is my Education Account?
                    <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                    <ion-icon class="up" name="chevron-up-outline"></ion-icon>
                </a>
                <div class="answer">
                    <p>
                        Education Accounts apply only to members who opened a TrustFundRegistry account prior to October 1, 2020. <br><br>
                        Your Education account is a 529 plan. It is an account used to save money for educational expenses that grows tax-free. Education accounts have an account owner, who controls the funds, and an account beneficiary, whose education the funds are intended for. <br><br>
                        Every education account is sponsored by a state, but the plan does not have to be held in the state where you live or the state where the beneficiary plans to attend school.<br><br>
                        While education accounts were originally created for college expenses, it’s also possible to use the money for K-12 tuition.<br><br>
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="comparison">
                <a class="accordion-link" href="#comparison">
                    What is the difference between 529 and UTMA?
                    <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                    <ion-icon class="up" name="chevron-up-outline"></ion-icon>
                </a>
                <div class="answer">
                    <p>
                        Both 529 plans and TrustFundRegistry custodial accounts provide a great tax-advantaged way for parents and others to help save for a child’s tuition and other educational expenses. TrustFundRegistry’s Investment Account for Kids offers a significant benefit to parents that are looking for a flexible way to save for all the future life stages your child will experience. This may or may not include education. <br><br>
                        In contrast to 529 plans that can only be used for qualified educational expenses, you can use the funds you invest in TrustFundRegistry for any expense that benefits the child named on the account. If an account holder uses funds from a 529 plan for non-education related expenses, they lose tax advantages and earnings are subject to a 10% penalty.<br><br>
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="contribution">
                <a class="accordion-link" href="#contribution">
                    How much can I contribute?
                    <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                    <ion-icon class="up" name="chevron-up-outline"></ion-icon>
                </a>
                <div class="answer">
                    <p>
                        Contributions to 529 plans are treated by the IRS as gifts, and as of 2020 you can contribute up to $15,000 per year ($30,000 as a married couple) to qualify for the annual federal gift tax exclusion.<br><br>
                        It is also possible to “superfund” the next five years of contributions ($75,000 per person or $150,000 as a couple) using the option of one-time deposit, but we generally recommend initiating a recurring monthly contribution, to spread out your contributions over time.<br><br>
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="purpose">
                <a class="accordion-link" href="#purpose">
                    Is it only for college expenses?
                    <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                    <ion-icon class="up" name="chevron-up-outline"></ion-icon>
                </a>
                <div class="answer">
                    <p>
                        Is it only for college expenses? While education accounts were originally created for college expenses, it’s also possible to use the money for K-12 tuition. Qualified educational expenses include books, room and board, computer equipment and tuition.<br><br>
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="benefits">
                <a class="accordion-link" href="#benefits">
                    What are the benefits of a 529 plan?
                    <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                    <ion-icon class="up" name="chevron-up-outline"></ion-icon>
                </a>
                <div class="answer">
                    <p>
                        Tax-free growth. If your account goes up in value, withdrawals you make for qualified educational expenses are tax-free. In a regular investment account, those withdrawals would subject to capital gains tax.<br><br>
                        Favorable financial aid treatment. 529 plans are not treated as student assets on the Free Application for Federal Student Aid (FAFSA), which may increase the amount of aid that the student is eligible for. Additionally, withdrawals by a parent (or student) account owner for educational expenses are not treated as income. Note that withdrawals from accounts held by others for the student (for example, a grandparent, aunt/uncle, etc.) will be treated as untaxed income to the student, which may reduce their eligibility for aid.
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="restrictions">
                <a class="accordion-link" href="#restrictions">
                    What are my restrictions with a 529 plan?
                    <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                    <ion-icon class="up" name="chevron-up-outline"></ion-icon>
                </a>
                <div class="answer">
                    <p>
                        Proceeds from 529 plans need to be used only for qualified educational expenses. Non-qualified eduactional expenses are subject to a 10% penalty on the earning's portion. 
                    </p>
                </div>
            </div>
            

            <div class="accordion-item" id="soWhat">
                <a class="accordion-link" href="#soWhat">
                    What if I want to spend money from a 529 on non-qualified educational expenses?
                    <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                    <ion-icon class="up" name="chevron-up-outline"></ion-icon>
                </a>
                <div class="answer">
                    <p>
                        If you withdraw money for non-qualified expenses, you are subject to paying taxes and a 10% penalty on any gains that are part of your withdrawal. The amount of your original contributions are not subject to taxes or the penalty.
                    </p>
                </div>
            </div>

            <div class="topic">
                <h4>Working with TrustFundRegistry</h4>
            </div>

            <div class="accordion-item" id="transfer">
                <a class="accordion-link" href="#transfer">
                    What if I want to transfer my Education Account to a TrustFundRegistryt Tax-Advantagd investment account?     
                    <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                    <ion-icon class="up" name="chevron-up-outline"></ion-icon>
                </a>
                <div class="answer">
                    <p>
                        Please reach out to our customer support at support@TrustFundRegistry.com to discuss the conversion process.
                    </p>
                </div>
            </div>


            <div class="accordion-item" id="withdrawl">
                <a class="accordion-link" href="#withdrawl">
                    How do I make a withdrawl request?
                    <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                    <ion-icon class="up" name="chevron-up-outline"></ion-icon>
                </a>
                <div class="answer">
                    <p>
                        1. Open the TrustFundRegistry app on your mobile device:<br>
                        2. Open the Main Menue and select "Withdrawls".<br>
                        3. Follow the prompts about the reason for your withdrawl, and where you'd like your balance sent.<br>
                        4. When you're prompted, choose how much you'd like to withdraw. You will recieve funds in appoximately 5 business days.<br><br>

                        If you have any remaining issues, <br>
                        please reach out to our customer support at support@TrustFundRegistry.com to discuss the conversion process.
                    </p>
                </div>
            </div>



            <div class="accordion-item" id="terms">
                <a class="accordion-link" href="#terms">
                    Financial Terminology 101
                    <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                    <ion-icon class="up" name="chevron-up-outline"></ion-icon>
                </a>
                <div class="answer">
                    <p>
                        <b>Assets: </b> anything that is worth some value to a person, company, or organization <br><br>
                        <b>Beneficiary: </b> a person who receives money as a result of something such as a trust fund, will , or life insurance <br><br>
                        <b>Custodial Account: </b> a person or organization  responsible for mamaging money or property for another person or organizatio <br><br>
                        <b>Fiduciary: </b> a person or organization responsible for managing money or propert for another person or organization <br><br>
                        <b>Financial Portfolio: </b> the collection of all of your financial assets, such as stocks, bonds, 529 plans, etc...<br><br>
                        <b>Fund: </b> money that is set aside for a specific purpose (ie. investments) <br><br>
                        <b>Investment: </b> money allocated with the expectation of generating value overtime<br><br>
                        <b>Trust: </b> a fidicuary arrangement that allows a third party, or trustee, to hold assets on behalf of a beneficiary <br><br>
                        <b>Uniform Gifts to Minors Act (UGMA): </b> a type of custodial account that allows transfer of assets, such as an investment, to a minor without requiring a trust
                    </p>
                </div>
            </div>

        </div>
    </div>




    </section>

<!-- ion icons -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


{% endblock %}