{% extends "base_generic.html" %}

{% block content %}
<!-- how to do links: <a href="url">link text</a>
    how to link a picture:     <img src="com/html/images/test.png" alt="Simply Easy Learning" width="200" height="80"> -->

<!-- centering things -->
<head>
    <style>
        h1 {text-align: center;}
        h2 {text-align: center;}
        div {text-align: center;}
        </style>
</head>

<!-- heading -->
<h1><strong>We are the future of gifting</strong></h1>
<h2><strong>DIGITAL, PLANNED, SOCIAL</strong></h2>
<br>

<section>
    <div>
        <h3>Instantly start a trust fund</h3>
        <ul>
            <li>Answer a few questions and our robo-advice will help you set up your child’s trust fund.</li>
            <li>Start a Trust Fund to invest for your child's future. We’ll recommend a top-tier plan and help you select the right age-adjusting portfolio.</li>
            <li>If you already have a 529 plan, connect it to the TrustFundRegistry.</li>
                What is 529 plan?
            <li>If you are ready to invest with cryptocurrency, start your child’s trust fund account.</li>
        </ul>
    </div>
    <br>
    <div>
        <h3>Automate your contribution</h3>
        <ul>
        <li>Set a goal and automate your contributions.</li>
        <li>Calculate your potential savings.</li>
        <li>Invite close family to co-manage your account.</li>
        <li>Manage your fund from our website or mobile app.</li>
        </ul>
    </div>
    <br>
    <div>
        <h3>Build your child’s TrustFundRegistry</h3>
        <ul>
            <li>Customize your child’s gifting page and invite family and friends to contribute.</li>
            <li>Share updates with your child’s Giftors, especially around birthdays and holidays.</li>
        </ul>
    </div>
    <br>
    <div>
        <h3>Earn cashback rewards</h3>
        <ul>
            <li>Shop at over 125 name-brand partners to earn cashback rewards.</li>

            <li>Your rewards will be directly deposited into your child’s trust fund.</li>
        
            <li>Your child’s Giftors can participate and help you save even more.</li>
        </ul>
    </div>
    <br>
    <div>
        <h3>Watch your savings grow</h3>
        <ul>
            <li>Congratulations! You’ve done your part in securing your child’s future.</li>
            <li>Now watch your savings grow as your child gets closer to college. We’ll be there for you every step of the way.</li>
        </ul>
    </div>
</section>
<br>
<!-- get started now button that leads to sign up page-->
<section>
    <div>
        <h2>What is a 529 plan?</h2>
        <p>A 529 Savings Plan is a state-sponsored investment account that has tax 
            advantages when used to save for education.</p>
        <iframe width="900" height="506" src="https://www.youtube.com/embed/_Iqf9FpfOjw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
<br>
<section>
    <div>
        <h5>Tax-free investing</h5>
        <ul>
        <li><p>Contributions to a 529 plan grow tax-free and can be withdrawn tax-free to pay for education.</p></li>
        </ul>
    </div>
    <div>
        <h5>Flexible and Versatile</h5>
        <ul>
        <li><p>529s can be used for higher education, K-12, apprenticeships, and student loans. You can even transfer within the family.</p></li>
        </ul>
    </div>
    <div>
        <h5>Better for financial aid</h5>
        <ul>
            <li><p>Unlike UGMA/UTMA, a 529 plan will have a minimal impact on your child’s financial aid eligibility.</p></li>
        </ul>
        
    </div>
</section>
<br>
<section>
    <div>
        <h3>Savings Calculator</h3>
        <p>See how much more you can save with the TrustFundRegistry
            Gift Investments, Giftor Coins, and Giftor Rewards.</p>
            <!--add inputs for calc-->
        <p><small>* This hypothetical calculation is for illustrative purposes only and is based on assumptions described here
        </small></p>
    </div>
</section>
<br>
<section>
    <h2>The Most Features with the Best Pricing</h2>
    <p>As the first and only robo-advisor focused exclusively on children trust funds, we offer the most comprehensive savings platform.
    </p>
    <p>To reach as many families as possible, we let you choose your own fee.</p>
</section>

{% endblock %}