{% extends "base_generic.html" %}

{% block content %}
<!-- how to do links: <a href="url">link text</a>
    how to link a picture:     <img src="com/html/images/test.png" alt="Simply Easy Learning" width="200" height="80"> -->

<!-- centering things -->
<style>
h1 {text-align: center;}
h2 {text-align: center;}
</style>

<!-- heading -->
<h1><strong>We are the future of gifting</strong></h1>
<h2><strong>DIGITAL, PLANNED, SOCIAL</strong></h2>
<br>

<!-- 1 Instantly start a trust fund -->
<secetion>
    <p align="center">
        <h3>Instantly start a trust fund</h3>
        
        Answer a few questions and our robo-advice will help you set up your child’s trust fund.
        <br>
        Start a Trust Fund to invest for your child's future. We’ll recommend a top-tier plan and help you select the right age-adjusting portfolio.
        <br>
        If you already have a 529 plan, connect it to the TrustFundRegistry.
        <br>
            What is 529 plan?
        <br>
        If you are ready to invest with cryptocurrency, start your child’s trust fund account.
    </p>
    
</secetion>

<section>
    <h3>Automate your contribution</h3>
    Set a goal and automate your contributions.
    <br>
    Calculate your potential savings
    <br>
    Invite close family to co-manage your account.
    <br>
    Manage your fund from our website or mobile 
    app.
</section>

<section>
    <h3>Build your child’s</h3>
    TrustFundRegistry
    <br>
    Customize your child’s gifting page and invite family and friends to contribute.
    <br>
    Share updates with your child’s Giftors, especially around birthdays and holidays.
</section>

<section>
    <h3>Earn cashback rewards</h3>
    Shop at over 125 name-brand partners to earn cashback rewards.
    <br>
    Your rewards will be directly deposited into your child’s trust fund.
    <br>
    Your child’s Giftors can participate and help you save even more.
</section>

<section>
    <h3>Watch your savings grow</h3>
    Congratulations! You’ve done your part in securing your child’s future.
    <br>
    Now watch your savings grow as your child gets closer to college. We’ll be there for you every step of the way.
</section>
<section><iframe width="900" height="506" src="https://www.youtube.com/embed/_Iqf9FpfOjw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></section>

{% endblock %}