{% extends "base_generic.html" %}

{% block content %}
<!-- how to do links: <a href="url">link text</a>
    how to link a picture:     <img src="com/html/images/test.png" alt="Simply Easy Learning" width="200" height="80"> -->

<!-- centering things -->
<head>
    
        <style>
        h1 {text-align: center;}
        h2 {text-align: center;}
        div {text-align: center;}
        p {text-align: center;}
        table {text-align: left;}
        </style>
   
</head>

<!-- heading -->
<h1><strong>We are the future of gifting</strong></h1>
<h2><strong>DIGITAL, PLANNED, SOCIAL</strong></h2>
<br>

<section>
    <div>
        <h3>Instantly start a trust fund</h3>
        <ul>
            <li>Answer a few questions and our robo-advice will help you set up your child’s trust fund.</li>
            <li>Start a Trust Fund to invest for your child's future. We’ll recommend a top-tier plan and help you select the right age-adjusting portfolio.</li>
            <li>If you already have a 529 plan, connect it to the TrustFundRegistry.</li>
                What is 529 plan?
            <li>If you are ready to invest with cryptocurrency, start your child’s trust fund account.</li>
        </ul>
    </div>
    <br>
    <div>
        <h3>Automate your contribution</h3>
        <ul>
        <li>Set a goal and automate your contributions.</li>
        <li>Calculate your potential savings.</li>
        <li>Invite close family to co-manage your account.</li>
        <li>Manage your fund from our website or mobile app.</li>
        </ul>
    </div>
    <br>
    <div>
        <h3>Build your child’s TrustFundRegistry</h3>
        <ul>
            <li>Customize your child’s gifting page and invite family and friends to contribute.</li>
            <li>Share updates with your child’s Giftors, especially around birthdays and holidays.</li>
        </ul>
    </div>
    <br>
    <div>
        <h3>Earn cashback rewards</h3>
        <ul>
            <li>Shop at over 125 name-brand partners to earn cashback rewards.</li>

            <li>Your rewards will be directly deposited into your child’s trust fund.</li>
        
            <li>Your child’s Giftors can participate and help you save even more.</li>
        </ul>
    </div>
    <br>
    <div>
        <h3>Watch your savings grow</h3>
        <ul>
            <li>Congratulations! You’ve done your part in securing your child’s future.</li>
            <li>Now watch your savings grow as your child gets closer to college. We’ll be there for you every step of the way.</li>
        </ul>
    </div>
</section>
<br>
<!-- get started now button that leads to sign up page-->
<section>
    <div>
        <h2>What is a 529 plan?</h2>
        A 529 Savings Plan is a state-sponsored investment account that has tax advantages when used to save for education.
        <br>
        <iframe width="900" height="506" src="https://www.youtube.com/embed/_Iqf9FpfOjw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
<br>
<section>
    <div>
        <h5>Tax-free investing</h5>
        Contributions to a 529 plan grow tax-free
        and can be withdrawn tax-free to pay
        for education.
    </div>
    <div>
        <h5>Flexible and Versatile</h5>
        529s can be used for higher education,
        K-12, apprenticeships, and student loans.
        You can even transfer within the family.
    </div>
    <div>
        <h5>Better for financial aid</h5>
        Unlike UGMA/UTMA, a 529 plan will have
        a minimal impact on your child’s financial
        aid eligibility.
    </div>
</section>
<br>
<section>
    <div>
        <h3>Savings Calculator</h3>
        <p>See how much more you can save with the TrustFundRegistry Gift Investments, Giftor Coins, and Giftor Rewards.
        </p>
            <!--add inputs for calc-->
        <small>* This hypothetical calculation is for illustrative purposes only and is based on assumptions described here
        </small>
    </div>
</section>
<br>
<section>
    <h2>The Most Features with the Best Pricing</h2>
    <p>As the first and only robo-advisor focused exclusively on children trust funds, we offer the most comprehensive savings platform.
    </p>
    <p>To reach as many families as possible, we let you choose your own fee.
    </p>
    </section>
<br>

<div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>MyTrustFundBaby</th>
                <th>Brokers and Traditonal Advisors</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Pricing</strong></td>
                <td>$1 per month per family<br>
                <small>(most choose to pay $5 per month)</small></td>
                <td>0.89% per year on average</td>
            </tr>
            <tr>
                <td><strong>Underlying Expenses</strong></td>
                <td>0.14% - 0.16% per year</td>
                <td>Upfront commission or initial sales charge <br>
                    (~5%) + annual asset-based fee (~1%)</td>
            </tr>
            <tr>
                <td><strong>Hidden Fees</strong></td>
                <td>None</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Gifting Platform</strong></td>
                <td>None</td>
                <td>Enrollment or other one-time fees</td>
            </tr>
        </tbody>
    </table>
</div>

<br>
<section>
    How much more will I save?
    <small>Compared to a broker, you could save</small>
    <h3>$37,000</h3>
    <small>over the life of your account.*</small>
    <!--start saving button that leads to signup-->
    <p>Your first year is free, so you have the time to <br>
    make sure MyTrustFundBaby is right <br>
    for your family. <br>
    <small>* This hypothetical calculation is for illustrative purposes only and is based on assumptions described here
    </small>
    </p>
</section>
<br>
<section>
    <h2>Security You Can Trust</h2>
    <p>As an SEC-registered investment advisor, we have a fiduciary duty to put your <br>
    interests first and to safeguard your personal information and money.
    </p>
    <br>

    <p>Your account is protected with bank-level <br>
    encryption and security practices, <br>
    including 24/7/365 monitoring.</p>
    <p>
        Your 529 plan investments are placed in a <br>
        state-sponsored account managed by <br>
        national investment companies. <br>
    </p>
    <p>
        If you choose a Backer Safe, your money <br>
        is FDIC-insured up to $250,000 and is <br>
        held at one of the largest U.S. banks. <br>
    </p>
</section>
<br>
<section>
    <h3>Get started in 2 minutes.</h3>
    <h3>It is totally FREE!</h3>
    <br>
 
    <!-- this is a form that uses php but no such php file exists yet-->
        <form action="TBD.php" method="POST">
            <div>
                <label for="Full Name">Create an account and set up a college fund </label>
                <input type="text" name="name">
                placeholder="Enter Full Name"
            </div>
            <div>
                <label for="Email">Start contributing and build a team of Backers </label>
                <input type="email" name="email">
                placeholder="Enter Email"
            </div>
            <div>
                <label for="Password">Send your child to college, debt-free </label>
                <input type="text" name="password">
                placeholder="Create Password"
            </div>
        </form>
</section>

{% endblock %}