{% extends "base_generic.html" %}
{% block content %}

    <div class="text-center">
      <img class="rounded" alt src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1619302176384x421296526534331600%2FMarketing%2520Site.png?w=192&h=206&auto=compress&fit=crop&dpr=1" style="display: block;
      margin-left: auto;
      margin-right: auto;">
    </div>
  
    <div class="text-center">
      <h1 class="rounded" style="display: block;
      margin-left: auto;
      margin-right: auto;">Give the gift of TrustFundRegistry.</h1>
    </div>

    <div class="text-center">
      <h1 class="rounded" style="display: block;
      margin-left: auto;
      margin-right: auto;">Easy to give. Wonderful to receive.</h1>
    </div>

    <div class="bubble-r-line">
      <div class="bubble-r-box">
        <div class="bubble-element" style="white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Barlow; font-size: 16px; color: rgba(53, 3, 66, 0.59); text-align: center; line-height: 1.4; border-radius: 0px;">
          One gift is all it takes to show a child you love how much you care about 
      their future. Select an amount, share a few details, and we’ll <br>send a personalized email on your behalf
        </div>
      </div>
    </div>
    <div class="text-center">
      <button style="position: relative; box-sizing: border-box; height: 46px; width: 187px; background: none rgb(163, 44, 196); border: none; text-align: center; font-family: Barlow; font-size: 17px; font-weight: 500; color: white; letter-spacing: 1px; line-height: 2.6; border-radius: 50px;">Send a gift now</button>
    </div>

    <div class="bubble-element-Group" style="position: relative; box-sizing: border-box; z-index: 46; height: 310px; width: 1020px; top: 0px; left: 80px; background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(232, 215, 250) 50%, rgb(208, 174, 245) 100%); border-style: solid; border-width: 1px; border-color: rgb(128, 128, 128); border-radius: 20px;">
      <div class="bubble-r-line" style="margin-top: 0px; height: 329px;">
        <div class="bubble-r-box" style="height: 328px; left: 15px; width: 310px;">
          <div class="bubble-element-Group" style="position: relative; box-sizing: border-box; z-index: 2; height: 328px; width: 310px; left: 20px; top: 0px; border-radius: 0px;">
            <div class="bubble-r-line" style="margin-top: 45px; height: 100px;">
              <div class="bubble-r-box" style="height: 100px; left: 106.235px; width: 100px;">
                <div class="bubble-element Image" style="position: relative; box-sizing: border-box; z-index: 2; height: 100px; width: 100px; left: 100px; top: 0px; border-radius: 0px;">
                  <img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1619303662294x919838152350997200%2Fbutton%2520%25285%2529.png?w=128&amp;h=128&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
                </div>
              </div>
            </div>
            <div class="bubble-r-line" style="margin-top: 0%; height: 45px;">
              <div class="bubble-r-box" style="height: 45px; left: 0px; width: 310px;">
                <h2 class="bubble-element Text" style="position: relative; box-sizing: border-box; z-index: 3; height: 45px; width: 310px; left: 0px; top: -45px; white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Barlow; font-size: 22px; font-weight: 500; color: rgb(9, 23, 71); text-align: center; line-height: 1.5; border-radius: 0px;">
                  <div class="content">Easy to send</div>
                </h2>
              </div>
            </div>
            <div class="bubble-r-line" style="margin-top: 0px; height: 81px;">
              <div class="bubble-r-box" style="height: 81px; left: 0px; width: 310px;">
                <div class="bubble-element Text" style="position: relative; box-sizing: border-box; z-index: 4; height: 81px; width: 310px; left: 0px; top: 0px; white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Arial; font-size: 18px; color: rgb(58, 77, 143); letter-spacing: 1px; line-height: 1.5; border-radius: 0px;">
                  <div class="content">Send your gift via email now or schedule it for later</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bubble-r-box" style="height: 329px; left: 335px; width: 310px;">
          <div class="bubble-element-Group" style="position: relative; box-sizing: border-box; z-index: 2; height: 328px; width: 310px; left: 350px; bottom: 373px; border-radius: 0px;">
            <div class="bubble-r-line" style="margin-top: 48px; height: 100px;">
              <div class="bubble-r-box" style="height: 100px; left: 117.353px; width: 100px;">
                <div class="bubble-element Image" style="position: relative; box-sizing: border-box; z-index: 2; height: 100px; width: 100px; left: 100px; top: 0px; border-radius: 0px;">
                  <img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1619303704053x108347855436853980%2Fbutton%2520%25286%2529.png?w=128&amp;h=128&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
                </div>
              </div>
            </div>
            <div class="bubble-r-line" style="margin-top: 0px; height: 45px;">
              <div class="bubble-r-box" style="height: 45px; left: 0px; width: 310px;">
                <h2 class="bubble-element Text" style="position: relative; box-sizing: border-box; z-index: 3; height: 45px; width: 310px; left: 0px; top: -45px; white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Barlow; font-size: 22px; font-weight: 500; color: rgb(9, 23, 71); text-align: center; line-height: 1.5; border-radius: 0px;">
                  <div class="content">Simple to redeem</div>
                </h2>
              </div>
            </div>
            <div class="bubble-r-line" style="margin-top: 0px; height: 81px;">
              <div class="bubble-r-box" style="height: 81px; left: 0px; width: 310px;">
                <div class="bubble-element Text" style="position: relative; box-sizing: border-box; z-index: 4; height: 81px; width: 310px; left: 0px; top: 0px; white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Arial; font-size: 18px; color: rgb(58, 77, 143); letter-spacing: 1px; line-height: 1.45; border-radius: 0px;">
                  <div class="content">Send your gift via email now or schedule it for later</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bubble-r-box" style="height: 329px; left: 335px; width: 310px;">
        <div class="bubble-element-Group" style="position: relative; box-sizing: border-box; z-index: 2; height: 328px; width: 310px; left: 500px; bottom: 373px; border-radius: 0px;">
          <div class="bubble-r-line" style="margin-top: 48px; height: 100px;">
            <div class="bubble-r-box" style="height: 100px; left: 117.353px; width: 100px;">
              <div class="bubble-element Image" style="position: relative; box-sizing: border-box; z-index: 2; height: 100px; width: 100px; left: 270px; top: 0px; border-radius: 0px;">
                  <img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1619303725889x911499327504535800%2Fbutton%2520%25287%2529.png?w=128&amp;h=128&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
                </div>
              </div>
            </div>
            <div class="bubble-r-line" style="margin-top: 0px; height: 45px;">
              <div class="bubble-r-box" style="height: 45px; left: 0px; width: 630px;">
                <h2 class="bubble-element Text" style="position: relative; box-sizing: border-box; z-index: 3; height: 45px; width: 630px; left: 0px; bottom: 49px; white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Barlow; font-size: 22px; font-weight: 500; color: rgb(9, 23, 71); text-align: center; line-height: 1.5; border-radius: 0px;">
                  <div class="content">Fun to watch</div>
                </h2>
              </div>
            </div>
            <div class="bubble-r-line" style="margin-top: 0px; height: 81px;">
              <div class="bubble-r-box" style="height: 81px; left: 0px; width: 310px;">
                <div class="bubble-element Text" style="position: relative; box-sizing: border-box; z-index: 4; height: 81px; width: 310px; left: 170px; top: 0px; white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Arial; font-size: 18px; color: rgb(58, 77, 143); letter-spacing: 1px; line-height: 1.45; border-radius: 0px;">
                  <div class="content">Send your gift via email now or schedule it for later</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}