{% extends "base_generic.html" %}
{% block content %}
    <head>
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/sendgift.css' %}">
    </head>
    <div class="container" style="align-items: center; left: auto;
    right: auto; display: block;">
      <div class="text-center" style="margin-left: 10px;">
        <img class="rounded" alt src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1619302176384x421296526534331600%2FMarketing%2520Site.png?w=192&h=206&auto=compress&fit=crop&dpr=1" style="display: inline-block;
        margin-left: auto;
        margin-right: auto;">
      </div>
  
      <div class="text-center" style="margin-left: 10px;">
        <h1 class="rounded" style="display: block;
        margin-left: auto;
        margin-right: auto;">Give the gift of TrustFundRegistry.</h1>
      </div>

      <div class="text-center" style="margin-left: 10px;">
        <h1 class="rounded" style="display: block;
        margin-left: auto;
        margin-right: auto;">Easy to give. Wonderful to receive.</h1>
      </div>

      <div class="bubble-r-line" style="margin-left: 10px;">
        <div class="bubble-r-box">
          <div class="bubble-element" style="white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Barlow; font-size: 16px; color: rgba(53, 3, 66, 0.59); text-align: center; line-height: 1.4; border-radius: 0px;">
            One gift is all it takes to show a child you love how much you care about 
            their future. Select an amount, share a few details, and we’ll <br>send a personalized email on your behalf
          </div>
        </div>
      </div>
      <div class="text-center" style="margin-left: 10px;">
        <a href="{% url 'login' %}">
        <button style="position: relative; box-sizing: border-box; height: 46px; width: 187px; background: none rgb(163, 44, 196); border: none; text-align: center; font-family: Barlow; font-size: 17px; font-weight: 500; color: white; letter-spacing: 1px; line-height: 2.6; border-radius: 50px; margin-bottom: 10px;">
          Send a gift now
        </button>
        </a>
      </div>
    </div>

    <div class="rounded" style="display: block;">
      <div class="text-center" style="margin-right: 160px">
      <div class="container-fluid" style="position: relative; box-sizing: border-box; z-index: 46; height: 310px; width: 1020px; top: 0px; left: 80px; background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(232, 215, 250) 50%, rgb(208, 174, 245) 100%); border-style: solid; border-width: 1px; border-color: rgb(128, 128, 128); border-radius: 20px;">
        <div class="bubble-r-line" style="margin-top: 0px; height: 329px;">
          <div class="bubble-r-box" style="height: 328px; left: 15px; width: 310px;">
            <div class="bubble-element-Group" style="position: relative; box-sizing: border-box; z-index: 2; height: 328px; width: 310px; left: 20px; top: 0px; border-radius: 0px;">
              <div class="bubble-r-line" style="margin-top: 45px; height: 100px;">
                <div class="bubble-r-box" style="height: 100px; left: 106.235px; width: 100px;">
                  <div class="bubble-element Image" style="position: relative; box-sizing: border-box; z-index: 2; height: 100px; width: 100px; left: 100px; top: 0px; border-radius: 0px;">
                    <img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1619303662294x919838152350997200%2Fbutton%2520%25285%2529.png?w=128&amp;h=128&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
                  </div>
                </div>
              </div>
              <div class="bubble-r-line" style="margin-top: 0%; height: 45px;">
                <div class="bubble-r-box" style="height: 45px; left: 0px; width: 310px;">
                  <h2 class="bubble-element Text" style="position: relative; box-sizing: border-box; height: 45px; width: 310px; left: 0px; top: -45px; white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Barlow; font-size: 22px; font-weight: 500; color: rgb(9, 23, 71); text-align: center; line-height: 1.5; border-radius: 0px;">
                    <div class="content">Easy to send</div>
                  </h2>
                </div>
              </div>
              <div class="bubble-r-line" style="margin-top: 0px; height: 81px;">
                <div class="bubble-r-box" style="height: 81px; left: 0px; width: 310px;">
                  <div class="bubble-element Text" style="position: relative; box-sizing: border-box; z-index: 4; height: 81px; width: 310px; left: 0px; top: 0px; white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Arial; font-size: 18px; color: rgb(58, 77, 143); letter-spacing: 1px; line-height: 1.5; border-radius: 0px;">
                    <div class="content">Send your gift via email now or schedule it for later</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bubble-r-box" style="height: 329px; left: 335px; width: 310px;">
            <div class="bubble-element-Group" style="position: relative; box-sizing: border-box; z-index: 2; height: 328px; width: 310px; left: 350px; bottom: 373px; border-radius: 0px;">
              <div class="bubble-r-line" style="margin-top: 48px; height: 100px;">
                <div class="bubble-r-box" style="height: 100px; left: 117.353px; width: 100px;">
                  <div class="bubble-element Image" style="position: relative; box-sizing: border-box; z-index: 2; height: 100px; width: 100px; left: 100px; top: 0px; border-radius: 0px;">
                    <img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1619303704053x108347855436853980%2Fbutton%2520%25286%2529.png?w=128&amp;h=128&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
                  </div>
                </div>
              </div>
              <div class="bubble-r-line" style="margin-top: 0px; height: 45px;">
                <div class="bubble-r-box" style="height: 45px; left: 0px; width: 310px;">
                  <h2 class="bubble-element Text" style="position: relative; box-sizing: border-box; z-index: 3; height: 45px; width: 310px; left: 0px; top: -45px; white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Barlow; font-size: 22px; font-weight: 500; color: rgb(9, 23, 71); text-align: center; line-height: 1.5; border-radius: 0px;">
                    <div class="content">Simple to redeem</div>
                  </h2>
                </div>
              </div>
              <div class="bubble-r-line" style="margin-top: 0px; height: 81px;">
                <div class="bubble-r-box" style="height: 81px; left: 0px; width: 310px;">
                  <div class="bubble-element Text" style="position: relative; box-sizing: border-box; z-index: 4; height: 81px; width: 310px; left: 0px; top: 0px; white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Arial; font-size: 18px; color: rgb(58, 77, 143); letter-spacing: 1px; line-height: 1.45; border-radius: 0px;">
                    <div class="content">Send your gift via email now or schedule it for later</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bubble-r-box" style="height: 329px; left: 335px; width: 310px;">
          <div class="bubble-element-Group" style="position: relative; box-sizing: border-box; z-index: 2; height: 328px; width: 310px; left: 500px; bottom: 373px; border-radius: 0px;">
            <div class="bubble-r-line" style="margin-top: 48px; height: 100px;">
              <div class="bubble-r-box" style="height: 100px; left: 117.353px; width: 100px;">
                <div class="bubble-element Image" style="position: relative; box-sizing: border-box; z-index: 2; height: 100px; width: 100px; left: 270px; top: 0px; border-radius: 0px;">
                    <img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1619303725889x911499327504535800%2Fbutton%2520%25287%2529.png?w=128&amp;h=128&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
                  </div>
                </div>
              </div>
              <div class="bubble-r-line" style="margin-top: 0px; height: 45px;">
                <div class="bubble-r-box" style="height: 45px; left: 0px; width: 630px;">
                  <h2 class="bubble-element Text" style="position: relative; box-sizing: border-box; z-index: 3; height: 45px; width: 630px; left: 0px; bottom: 49px; white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Barlow; font-size: 22px; font-weight: 500; color: rgb(9, 23, 71); text-align: center; line-height: 1.5; border-radius: 0px;">
                    <div class="content">Fun to watch</div>
                  </h2>
                </div>
              </div>
              <div class="bubble-r-line" style="margin-top: 0px; height: 81px;">
                <div class="bubble-r-box" style="height: 81px; left: 0px; width: 310px;">
                  <div class="bubble-element Text" style="position: relative; box-sizing: border-box; z-index: 4; height: 81px; width: 310px; left: 170px; top: 0px; white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Arial; font-size: 18px; color: rgb(58, 77, 143); letter-spacing: 1px; line-height: 1.45; border-radius: 0px;">
                    <div class="content">Send your gift via email now or schedule it for later</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="container-fluid" style="background-color: rgba(231, 230, 230, 0.9); display: block; width: 100%; margin-top: 100px; text-align: center;">
      <h1 style="position: relative; box-sizing: border-box; white-space: pre-wrap; overflow: visible; padding-bottom: 0px; font-family: Barlow; font-size: 22px; font-weight: 500; color: rgb(18, 18, 20); text-align: center; letter-spacing: 1px; line-height: 1.4; border-radius: 0px; margin-right: 50px;">
        Still have questions?
      </h1>
      <button style="background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(232, 215, 250) 50%, rgb(208, 174, 245) 100%); border-style: solid; height: 40px; width: 250px; border-width: 1px; border-color: rgb(128, 128, 128); border-radius: 20px; cursor: pointer;"><a href="{% url 'faq' %}"><p style="text-align: center; font-family: Arial; font-size: 15px; color: rgb(79, 79, 79); margin-top: 7px; border-radius: 50px;">
        View FAQS
      </p></a>
      </button>
      <button style="text-decoration: none; margin-left: 100px; margin-top: 10px; background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(232, 215, 250) 50%, rgb(208, 174, 245) 100%); border-style: solid; height: 40px; width: 250px; border-width: 1px; border-color: rgb(128, 128, 128); border-radius: 20px; cursor: pointer;"><a href="mailto:contactus@creditrockstar.com"><p style="text-decoration: none; text-align: center; font-family: Arial; font-size: 15px; color: rgb(79, 79, 79); margin-top: 7px; border-radius: 50px;">
        Contact Us
      </p></a>
      </button>

      <hr class="new" style="margin-left: 50px;">
      <img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1619256570872x201559510714627300%2F1%2520%25281%2529%25201.png?w=48&amp;h=48&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="position: relative; margin-right: 800px; width: 34px; height: 34px; border-radius: 0px;">
      <div class="bubble-element Text" style="position: relative; bottom: 20px; right: 210px; font-family: Barlow; font-size: 14px; font-weight: 500; color: rgb(59, 59, 59); letter-spacing: 1px; border-radius: 0px;">
        <div>Gifting every child a trust fund is easy and fun.</div>
      </div>

      <img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1619259364152x672008306181479700%2Fandriod.png?w=128&amp;h=43&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="position: relative; white-space: pre-wrap; width: 106px; height: 36px; border-radius: 7px; margin-left: 10px; bottom: 50px; left: 150px;">
      <img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1619259408843x477179210149428740%2Fios%2520icons.png?w=128&h=44&auto=compress&fit=crop&dpr=1" style="position: relative; white-space: pre-wrap; width: 106px; height: 36px; border-radius: 7px; margin-left: 10px; bottom: 50px; left: 155px;">
      <img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1619259505261x567978187309474940%2Ffacebook.png?w=48&h=48&auto=compress&fit=crop&dpr=1" style="position: relative; white-space: pre-wrap; width: 35px; height: 35px; border-radius: 7px; margin-left: 10px; bottom: 50px; left: 160px;">
      <img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1619260176429x235982173475186780%2Ftwitter.png?w=48&h=48&auto=compress&fit=crop&dpr=1" style="position: relative; white-space: pre-wrap; width: 35px; height: 35px; border-radius: 7px; margin-left: 10px; bottom: 50px; left: 165px;">
      <img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1619260201688x533923935279017000%2Fpintreset.png?w=48&h=48&auto=compress&fit=crop&dpr=1" style="position: relative; white-space: pre-wrap; width: 35px; height: 35px; border-radius: 7px; margin-left: 10px; bottom: 50px; left: 170px;">

      <hr class="new" style="margin-left: 50px;">
      
      <div style="white-space: nowrap;">
        <div style="display: inline-block; margin-right: 100px; text-decoration: none; cursor: pointer; font-family: Barlow; font-size: 14px; font-weight: 600; color: rgb(59, 59, 59);"><a style=" color: rgb(59, 59, 59); text-decoration: none;" href="/">About Us</a></div>
        <div style="display: inline-block; margin-right: 100px; text-decoration: none; cursor: pointer; font-family: Barlow; font-size: 14px; font-weight: 600; color: rgb(59, 59, 59);"><a style=" color: rgb(59, 59, 59); text-decoration: none;" href="{% url 'blog' %}">Blog</a></div>
        <div style="display: inline-block; margin-right: 100px; text-decoration: none; cursor: pointer; font-family: Barlow; font-size: 14px; font-weight: 600; color: rgb(59, 59, 59);"><a style=" color: rgb(59, 59, 59); text-decoration: none;" href="/">Send a gift</a></div>
        <div style="display: inline-block; margin-right: 100px; text-decoration: none; cursor: pointer; font-family: Barlow; font-size: 14px; font-weight: 600; color: rgb(59, 59, 59);"><a style=" color: rgb(59, 59, 59); text-decoration: none;" href="/">Press</a></div>
        <div style="display: inline-block; margin-right: 100px; margin-bottom: 20px; text-decoration: none; cursor: pointer; font-family: Barlow; font-size: 14px; font-weight: 600; color: rgb(59, 59, 59);"><a style=" color: rgb(59, 59, 59); text-decoration: none;" href="{% url 'faq' %}">Legal</a></div>
      </div>

      <hr class="new" style="width: 65%; display: flex; margin-left: 130px;" >

      <div class="bubble-r-box" style="height: 300px; width: 939px;">
        <div class="bubble-element Text" style="position: relative; box-sizing: border-box; font-family: Barlow; font-size: 14px; color: rgb(59, 59, 59); line-height: 1.2; border-radius: 0px; left: 220px;">
          <div>TrustFundRegistry is the tradename of TrustFundRegistry LLC, an SEC-registered investment adviser. Our internet-based investment advisory services are designed to assist clients in saving for college and are not intended to provide comprehensive tax advice or financial planning. Our services are available to U.S. residents only. This website shall not be considered a solicitation or offering for any service or product to any person in any jurisdiction where such solicitation or offer would be unlawful.
        <br>Investing in securities involves risks, and investing in 529 plans in particular involves certain tax considerations and related risks. Any investments you make in a 529 plan through TrustFundRegistry may lose value. Historical returns, expected returns, and probability projections are provided for informational and illustrative purposes, and may not reflect actual future performance. Our savings calculator and pricing comparison are hypothetical tools provided for illustrative purposes only and are based on important assumptions described here.
      </div></div></div>

      <div class="bubble-r-box" style="height: 47px; left: 240.83px; width: 928px;">
        <div class="bubble-element Text" style="position: relative; box-sizing: border-box; height: 47px; width: 928px; white-space: pre-wrap;  font-family: Barlow; font-size: 14px; color: rgb(59, 59, 59); line-height: 1.4; border-radius: 0px; margin-left: 230px; bottom: 100px; margin-bottom: 10px;">
          <div>Copyright © 2021 TrustFundRegistry is a trademark of TrustFundRegistry LLC 
        a subsidiary of Ludlow Barrett Associates, 442 5th Avenue, Suite 1043, New York, NY 10018<br></div></div></div>

    </div>

    <style>
      body {
        overflow-x: hidden;
      }
    </style>
{% endblock %}